
     
  body{
font-family: 'Montserrat', sans-serif;
    color: #555;
    font-size: 0.95em

}
body, body p{
    /*font-family: 'Hind', sans-serif;*/
    font-size: 0.95em;
   
}

.form.pushdown{
    position: relative;
    top: 25px;
}
.form.pushup{
    position: relative;
    top: -85px;
    left: 35px;
}
.logname{
    color: #333;
    padding: 1px;
    position: relative;
    top: 6px;
}
.logname.usracct{
    position: relative;
    left: 205px;
}
p{
    color: #333;
}
.form ul li{
    list-style: none;
}
.workarea{
   
    /*background: #dbe4ed;*/
    position: relative;
    top: 20px;
    min-height: 500px;
 
}
.dash{
    position: relative;
    top: 40px;
   left: -20px;
}
.searchbox{
    height: 35px;
    width: 550px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    
}
.searchbutton{
    background: #1a5252;
/*font-family: SourceSansPro-ExtraLight, sans-serif;*/
font-size: 1.2em;
    padding: 6px;
    color: #fff;
    border: none;
    width: 65px;
    height: 40px;
}
ul.cates{
    position: relative;
    left: -25px;
    top: 12px;
}
ul.cates li{
    list-style: none;
}
ul.cates li a{
    line-height: 150%;
}

/*form styling*/
.form input#submit{
padding: 4px;
border: 1px solid #6c9;
background: #1a5252;

}

.form input{
margin-bottom: 4px;
border: 1px solid #eee;
background: #FDFEFE;

}
.form input:focus,.form select:focus {
border: 1px solid #09c;
}

.form label{
font-size: 1.1em;
color: #1a5252;
padding: 5px 5px 5px 0;
font-weight: normal;

}
label.error{
 font-size: 0.9em;
color: #1a5252; 
font-weight: normal;
}
.find, .form ul li input.find{
padding: 3px;
border: 1px solid #6c9;
color: #fff;
background: #1a5252;
/*font-family: SourceSansPro-ExtraLight, sans-serif;*/
font-size: 1.0em;

}
/*.login table{*/
.col-md-3.login form{
    position: relative;
    left:60px;
    top:75px;
}
.ent{
    height: 30px;
    width: 205px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    border: 1px solid #eee;
    
}
.select, table td input, select{
    height: 26px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    border: 1px solid #eee;
    
}
input{
    color: #669;
    
}

textarea{
    /*color: #669;
    height: 50px;
    width: 250px;*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    /*border: 1px solid #eee;  */
}
form.signup{
    position: relative;
    top: 35px;

}
button{
    background: #724329;
    color: snow;
    border: none;
    padding: 5px;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 0.9em;
  
}
/*default links*/
a:link{
   text-decoration: none;
   color: purple;
   
}

a:visited{
   color: purple;
    
}


a:hover{
  color: purple;
  color: #d91277;
}

a:active{
    color: #99c; 
}


/*logo nav n def links*/
.logonav ul li a:link,
ul.sign li a:link{
 color: #000;
}
.logonav ul li a:visited,
ul.sign li a:visited{
 color: #000; 
}
.logonav ul li a:hover,
ul.sign li a:hover{
  color: #333;
}
.logonav ul li a:active,
ul.sign li a:active{
  color: #99c;
}

/**dash**/
ul.dash li img{
    position: relative;
    top: -3px;
}
ul.dash li{
    list-style: none;
    
}
ul.dash li a:link{
    color:#777;
    padding: 5px;
    display: block;
    text-decoration: none;
    font-size: 1.1em;
   
    
}
ul.dash li a:visited{
    color:#777;
    display: block;
}
ul.dash li a:hover{
    color:#444;
    /* background: url('../img/opaque_w.png');
    background-repeat: repeat; */
    background: greenyellow;
    text-decoration: none;
  
}
ul.dash li a:active{
    color:orange;   
}
ul.dash li#here a{
    color:#000;
    background: greenyellow;
    text-decoration: none;
   
}

p.acctname{
    font-size: 0.9em;
    position: relative;
    left: 32px;
    color: snow;
}
/**/

.workarea table{
    padding: 6px
}
.track td, .track th{
    border: 1px solid #ccc;
    padding: 6px;
}
.track th{
    border-left: none;
    border-right: none;
    border-top: none;
}
.topdetails{
    text-align:  center;
}
h3.ac{
    position: relative;
    top: -15px;
    font-weight: normal;
}
h2.ac{
    font-weight: normal;
}
tr.bolder th{
    font-size: 1.0em;
    padding: 6px;
}
tr.bolder td{
    font-size: 1.1em;
    padding: 6px;
    border: 1px solid #eee;
}


form ul.track li{
    list-style: none;
    padding: 3px
}

/*msgs*/
p.msg{
    color: snow;
    font-size: 1.3em;
    padding: 6px;
    color: peru;
    font-weight: bold;
   
}
p.err{
    color: peachpuff;
    font-size: 1.3em;
   
     
}
/*paddings*/
.workarea form, table.table{
    padding: 11px
}

.logo{
    position: relative;
    top: 20px;
}


p.nom{
    font-size: 0.9em;
    color: purple;
}
select.min{
    min-width: 105px;
    padding: 4px
}
.grid_8.centr{
    position: relative;
    left: 100px;
}

/*ul.dash.ui-widget-content{
    position: relative;
    top: 5px;
}*/

table.ranks{
    position: relative;
    left: 12px;
}
table.ranks td{
    border: 1px solid #eee;
    padding: 6px 8px;
}
button.clear{
    margin-bottom: 20px;
    background: none;
    border: 1px solid orange;
    color: #333;
}

body.result{
    background: url('../img/result_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
    /*font-family: SourceSansPro-ExtraLight, sans-serif;*/
    font-weight: bold;
    font-size: 0.9em;
    background-position-x: 65px;
}

div.acct{
    position: absolute;
    top: 32px;
    
}
div.acct a{
   text-decoration: none;
}
div.acct a.back{
    background: #eee;
    padding: 6px; 
  
}
body.user{
    background: #f8faf8;
}


/*input[type='text'], input[type='password'], input[type='email']{
    min-height: 30px;
    border-radius: 0;
   
}*/
select{
    min-height: 35px;
    border-radius: 0;
    width: 100%
   
}
/** report card*/
table td.subs{
    border: 1px dotted #99c;
}
table td.peru{
    border: 1px dotted peru;
}


/*inputs size*/
input[type='text'], select, textarea{
    font-size: 1.0em;
}

/*analytics table*/
table.analytics tr td{
    padding: 6px;
    border: 1px dotted #99c;
}
table.analytics tr td.term{
    border: 1px dashed #333;
    color: darkred;
}
table.analytics tr td.bar{
    border: none;
    padding: 0;
}

/*result*/
table.result td.test{
    width: 30px !important;
}
table.result td.grade{
    min-width: 110px;
}

/*to parents*/
  body.admin.pins .wrappp p{
    color: #000;
    font-size: 1.4em;
    font-weight: normal;

}

      body.admin.pins p{
    padding: 9px;
    padding-left: 20px

}
     body.admin.pins p.heading{
    padding: 9px;
    padding-left: 20px;
    
    font-weight: bold;
    font-size: 1.2em

}
.wrappp{
    position:relative;
    top: 80px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    height: 470px;
}



.rec tr td {
    padding: 9px
}
label{
    font-weight: bold;
    font-size: 1.0em;
     
}


/*more styles on responsive version*/
table tr td{
    padding: 0 8px;
    padding-bottom: 20px
}
table tr td label{
    padding: 0 8px;
   
}
select{
    min-height: 39px
}

/*input[type="submit"],select{
    margin-left: 5px;
     margin-right: 5px
}*/
input[type="submit"]{
    background: #333;
    background: #724329;
    color: snow;
    border: none;
    padding: 3px 6px;
    font-size: 0.9em;
}
div.paginator{
    font-size: 0.9em;
    position: relative;
    left: 25px;
}
div.paginator select{
    width: 55px;
 
   
}

 /*textarea.textarea {
     width: 70%;
     height: 125px;
   
}
*/



@media (max-width: 1024px) {

 .container .row{
     padding-right: 30px
 }
         h2.intro{
            color: snow;
            font-size: 1.4em;
           margin-top: 85px;
           margin-left: 35px;
            line-height: 105%;
            font-family: 'Maven Pro', sans-serif;
        } 
        span.earn{
          margin-left: 35px;

        }
        button.hire{
            background: none;
            color: snow;
            padding: 9px;
            margin-top: 10px;
            border: 1px dashed palegoldenrod;
            font-size: 1.1em;
            margin-left: 35px;
        }
        div.mid{
            margin-top: 45px;
        }
     
 .form.login input{

     color: grey;
    
 }
 .form.login label{
     color: snow;
 }
 .form.login table{
     position: relative;
     top: 85px;
 }
 .dash ul.ui-widget-content{
     padding: 6px;
     width: 85%;
     margin-bottom: 45px;
     
 }
 ul.dash{
     position: relative;
     left: 1px;
 }
 table{
     overflow-x: auto;
     display: block;
 }
 
 p.nom{
     color: #ccc;
     position: relative;
     left: -15px;
     top: -25px;
     margin-left: 15px
 }
 /*div.paginator a:link{
     color: snow;
 }*/
 .mid.page .container{
   margin-top: 155px;
  
}

}
 .form label{
font-size: 1.1em;
color: orange;
padding: 5px 5px 5px 0;

}
img.avatar{
    position: absolute;
    top: 80px;
    left: 900px;
    margin-bottom: 15px;
    width: 121px;
    height: 140px;
}
p.nom{
    position: relative;
    left: 10px;
}
button.bio{
    position: relative;
    top: 5px;
}
button.print{
    position: relative;
    top: 1px;
}

.dash.ui-widget-content{
    background: none;
    border: none
}

/* .workarea, .workarea form.form label{
    color: snow;
} */
input.photo{
    background: none;
    border: none;
}

/*on screen*/
@media (min-width: 1024px) {
        img.bio{
      margin-top: 25px;
     
    }
    .dash ul{
    position: relative;
    top: 45px;
    left: 50px;
    }
    .logo img{
    position: relative;
    left: 40px;
    
}
  
.mid.page{
    position: relative;
    top: -125px;
}
ul.boldnav{
   padding: 0;
    margin: 0;
    position: relative;
    left: -6px;
}
}

ul li{
    list-style: none;
}
ul li select.min{
    width: 35%;
}
.logo img{
    position: relative;
    top: -20px;
}
        .logonav{
          position: relative;
          top: 45px;

        }
        .logonav ul li{
            list-style: none;
            display: inline;
            padding: 6px;
        } 

/*nav*/
       
        ul.nav li{
            list-style: none;
            display: inline;
            padding: 5px;

        } 
        ul.nav li a:link{
            color: #444;
            padding: 8px;
            font-weight: bold;
            font-size: 1.0em;
          
            border-radius: 14px;
        } 
        ul.nav li a:visited{
            color: #444;
          
            border-bottom: none;
        } 
        ul.nav li a:hover{
            color: snow;
            background: #d91277; 
          
        } 
        ul.nav  a:active{
            color: #777;
        } 
        ul.nav li.nav-path-selected a{
            color: #fff;
            background: orange;
            background: #99c;
            background: #d91277;
            padding: 8px;
            border-radius: 14px;
        }         


/*datepicker*/
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */
/*body {
  padding: 4em;
  
}*/
label {
  display: block;
}
/*input {
  border: 1px solid #c4c4c4;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}*/

      @media (min-width: 679px) {
          /*cates*/
    ul.cates{
        position: relative;
        top: 12px;
        margin-left: 25px;
       
    } 
       
body .top{
            background: url('../img/static.jpg');
            background-repeat: no-repeat;  
            background-size: cover;
            background-position-y: -5px;
            height: 450px;
}


body.signup{
            background: url('../img/screen.jpg');
            background-repeat: no-repeat;  
            background-size: contain;
            /*background-size: cover;*/
            background-attachment: fixed;
}

       .form.login table{
           position: relative;
           top: 100px;
           left: 25px;
    
 }
        
        h2.intro{
            font-size: 1.55em;
           margin-top: 125px;
            line-height: 105%;
            color: snow;
            font-family: 'Maven Pro', sans-serif;
        } 
        button.hire{
            background: #724329;
            background: #f8fafb;
            background: none;
            color: snow;
            padding: 7px;
            margin-top: 10px;
            border: 1px dashed palegoldenrod;
            font-size: 1.0em;
            
        }
        
        
      }
      
      div.footer{
          margin-top: 85px;
          font-size: 0.7em; 
          /*background: #93268F;*/
          
         
          min-height: 55px;
      }
      div.footer .row {
          position: relative;
          top: 15px;
      }
      
      
      div.userarea{
          background: palegoldenrod;
          min-height: 520px
      }
      
      textarea{
          border: none;
          
      }
      
      select{
          margin-bottom: 4px;
      }
      
      table.listing tr td.em{
          font-weight: bold;
          font-size: 1.2em;
          padding-bottom: 9px;
          font-family: 'Maven Pro', sans-serif;
      }
      table.listing tr td.details{
          padding-top: 10px;
      }
      table.listing{
          margin-top: 25px;
        
      }

      table.listing tr td{
        border: 1px solid #eee;
        padding-top: 15px;
    }
      
      table.listing td.apad{
          width: 400px;
      }
      ul.listing li, ul.list li{
          padding: 9px;
          
      }
      table.listing tr{
          padding-bottom: 15px;
      }
      
      
   
      .workspace{
          margin-top: 125px;
          font-size: 0.9em;
      }
      
      
      /*font-family: 'Kaushan Script', cursive;*/
      span.tinylogo{
          font-family: 'Kaushan Script', cursive;
      }
            span.logo{
          font-family: 'Kaushan Script', cursive;
          
      }
      .logo a:link{
          color: snow;
          font-size: 2.1em
      }
            .logo a:visited{
          color: snow;
           font-size: 2.1em
      }
            .logo a:hover{
          color: palegoldenrod;
           font-size: 2.1em
      }
           .logo a:active{
          color: palegoldenrod;
           font-size: 2.1em
      }


      /*on mobile */
@media (max-width: 640px) {

    .col-md-3.aside{
       position: relative;
       top: -40px;
       left: -20px;
    }
  /*img.stt,
  table tr td.goto a,
  table tr td.postdate{
    display: none;
  }*/

  .mid .container, .logo img, .logonav ul{
 margin-left: 25px
  }
   div.payoff .container{
 margin-left: 15px;
  }
 
   body {
            background: url('../img/mobile.jpg');
            background-repeat: no-repeat; 
            background-attachment: fixed;
            background-size: cover;
   }

  
  }
          
 } 
  ul.bio{
    margin-top: 25px;
  }
          span.earn{
          color: purple;
          
        }
 
              .logo img{
    position: relative;
    left: 40px;
   
}
        
        div.footer .row {
    position: relative;
    left: 15px;
}
    /*cates*/
    ul.cates{
        position: relative;
        top: -15px;
        margin-left: 12px;
        z-index: 999
       
       
    }
    ul.cates li {
        list-style: none;
        padding: 3px 3px 3px 15px;
        
    } 
    
  
    ul.listing li{
        overflow-y: hidden;
    }
    
    ul.boldnav{
        position: relative;
        left: -35px;
    }
    p.acctname{
    font-size: 0.9em;
    position: relative;
    left: 45px;
    color: snow;
}

 
}


.table tr td, .table th{
    border: none;
}
table.sign tr td a:link{
    color: palegoldenrod;
}
table.sign tr td a:visited{
    color: palegoldenrod;
}
table.sign tr td a:hover{
    color: #6c9;
}
table.sign tr td a:active{
    color: #6c9;
}



/*sinlge page*/

/*.mid.page .container{
    background: snow;
    background: #67677c;
    background: url('img/opaque_purple.png');
    min-height: 590px;
  
}*/


ul.boldnav li{
    display: inline;
    padding: 9px;
}

button.bl{
    padding: 8px;
    border: 1px solid #000;
    
    position: relative;
    top: 3px;
}

.pool select.search{
    width: 130%;
    margin-top: 45px;
    
}
button.search{
        margin-top: 45px;
        padding: 9px
}

ul.bio li{
    line-height: 125%;
}
.bio p{
    padding: 25px;
}

body.single ul.boldnav{
    position: relative;
    top: 75px;
}

ul.sign li label{
    color: snow;
    font-size: 1.0em;
}

ul.sign{
    position: relative;
    top: 110px;
}

textarea#textarea{
    margin-bottom: 6px;
    min-height: 200px;
    border-radius:  6px;
}

span.me{
    position: relative;
    top: 55px;
    
}
span.me p{
    padding: 15px 25px;
}
.input-group-lg{
  padding-top: 15px;
}
span.msg{
    font-size: 1.4em;
    color: peru;
    position: relative;
    top: 20px;
}


            /*on screen @media css*/
@media (min-width: 1024px) {
  body.single .page .container{
  background: snow;
}

  span.earn{
  font-size: 1.2em;
  color: snow;
}
table.earnings{
  position: relative;
  left: 45px;
}

       body.home button.hamburger,
       body.single button.hamburger,
       body.signup button.hamburger{
          display: none;
        }

      }

/* ul li.parsley-required,
ul li.parsley-type{
  position: relative;
  left: -35px;

} */

textarea#textarea{
  border: none;
  
}
.medium-editor-element{
  min-height: 300px;
 font-size: 0.9em

}


table.list{
  position: relative;
  left: 35px;
  
}
table.list tr td{
  min-width: 260px;

}
table.list tr td div.mov {
  margin-bottom: 35px;
  margin-top: 35px
}


table.top_post tr td img{
  width: 80px;
  height: 80px;
}

div.feat img{
  position: relative;
  left: 40px;
  margin-bottom: 25px
}

ul.s_list li{
  padding: 12px;
  border-bottom: 1px dotted peru;
}



ul.star_listing{
  margin-left: 25px
}

.logonav ul li.sign{
 border: 1px solid snow;
 border-bottom-right-radius: 15px;
 border-top-right-radius: 15px;
 border-top-left-radius: 15px;
}
.logonav ul li{
    padding: 15px;
    margin-right: 9px;
   }

   .greet{
       margin-left: 35px;
       margin-top: 110px;
       padding: 25px;

   }
   .w{
       color: #f8eee4; 
      
   }

   /*.mid .container{
    background: url('../img/opaque_w.png');
    background-repeat: repeat;
    position: relative;
    top: -125px;
 
    min-height: 450px;
   }*/

   .debug .container{
       
       background: #b7c8cb;
       background: #313d2f;
       background: #b4e55c;
       background: #2e364f;
       min-height: 300px;
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 20px;
   }
   .footer{
       position: relative;
       top: -15px;
   }

   ul.ft, ul.social{
       margin-top: 35px;
   }

   form, table{
       padding-top: 45px;
   }

   ul.ft li a:link{
    color: snow;
    padding: 5px;
    font-weight: bold;
    font-size: 1.0em;
    
} 
   ul.ft li a:visited{
    color: snow;
    
} 
   ul.ft li a:hover{
    color: palegreen;
    
} 
  ul.ft li  a:active{
    color: palegreen;
} 



@media (min-width: 1024px) {
    .mid .container{
        /*background: #fff;*/
        position: relative;
        top: -105px;
     
        min-height: 450px;
       }  
}

@media (max-width: 479px) {
    .debug .container{
      background: none;
    }
      .greet{
        position: relative;
        top: -35px;
    }
    .mid .container{
     
      position: relative;
      top: 25px;
   
      min-height: 450px;
     } 
     .logonav{
         display: none;
     }

     ul.ft li a:link{
        color: purple;
        padding: 5px;
        font-weight: bold;
        font-size: 1.0em;
        
    } 
       ul.ft li a:visited{
        color: purple;
        
    } 
       ul.ft li a:hover{
        color: #99c;
        
    } 
      ul.ft li  a:active{
        color: #99c;
    } 
  }


  /*ul.inv{
      padding-left: 55px;
    
  }*/

  ul.inv .box{
    margin-top: 45px;
    margin-bottom: 45px;
    
}

table.listing td.apad{
    font-weight: bold;
}

ul.lending li label{
    margin-top: 15px;
}

.mid .aa{
background: #eee;
}
.mid .bb{
background: snow;
}
span.show_success{
    padding: 9px;
    background: palegreen;
    color: purple;
    position: relative;
    top: -15px;
}

.mid .workarea{
    background: #fff;
}
.aside{
    position: relative;
    left: 35px;
    top: 45px;
}

ul li.tudd{
    padding-top: 45px;
}

ul.mnav li a:link{
color: snow;
}
ul.mnav li a:visited{
color: snow; 
}
ul.mnav li a:hover{
color: #ccc; 
}
ul.mnav li a:active{
color: orangered;   
}

div.paginator{
   position: relative;
   left: -5px; 
}

span.inactive select{
    display: none;
}
input#sub-name, input#sub-email{
    height: 44px;
}

/*on mobile and tab*/
@media (max-width: 479px) {
   
    .card{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /*img.stt{
      display: none;
     }*/
     div.mid{
      margin-right: 25px;
  }
  
    }